In [1]:
import pandas as pd

In [3]:
DATA_LOCATION = "..//Data//Raw Data//"

In [4]:
df1 = pd.read_csv(DATA_LOCATION+"202112-divvy-tripdata.csv")
df2 = pd.read_csv(DATA_LOCATION+"202201-divvy-tripdata.csv")
df3 = pd.read_csv(DATA_LOCATION+"202202-divvy-tripdata.csv")
df4 = pd.read_csv(DATA_LOCATION+"202203-divvy-tripdata.csv")
df5 = pd.read_csv(DATA_LOCATION+"202204-divvy-tripdata.csv")
df6 = pd.read_csv(DATA_LOCATION+"202205-divvy-tripdata.csv")
df7 = pd.read_csv(DATA_LOCATION+"202206-divvy-tripdata.csv")
df8 = pd.read_csv(DATA_LOCATION+"202207-divvy-tripdata.csv")
df9 = pd.read_csv(DATA_LOCATION+"202208-divvy-tripdata.csv")
df10 = pd.read_csv(DATA_LOCATION+"202209-divvy-publictripdata.csv")
df11 = pd.read_csv(DATA_LOCATION+"202210-divvy-tripdata.csv")
df12 = pd.read_csv(DATA_LOCATION+"202211-divvy-tripdata.csv")

In [6]:
df = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12])

In [7]:
df.shape

(5733451, 13)

In [19]:
df.to_csv("..//Data//Processed Datacyclistic.csv")

In [20]:
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [23]:
df.sample()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
131139,470AE184F8AF4881,classic_bike,2022-09-15 14:49:53,2022-09-15 14:58:50,Loomis St & Lexington St,13332,Halsted St & Polk St,TA1307000121,41.872187,-87.661501,41.87184,-87.64664,casual

In [24]:
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,46F8167220E4431F,electric_bike,2021-12-07 15:06:07,2021-12-07 15:13:42,Laflin St & Cullerton St,13307,Morgan St & Polk St,TA1307000130,41.854833,-87.663660,41.871969,-87.650965,member
1,73A77762838B32FD,electric_bike,2021-12-11 03:43:29,2021-12-11 04:10:23,LaSalle Dr & Huron St,KP1705001026,Clarendon Ave & Leland Ave,TA1307000119,41.894405,-87.632331,41.967968,-87.650001,casual
2,4CF42452054F59C5,electric_bike,2021-12-15 23:10:28,2021-12-15 23:23:14,Halsted St & North Branch St,KA1504000117,Broadway & Barry Ave,13137,41.899357,-87.648522,41.937582,-87.644098,member
3,3278BA87BF698339,classic_bike,2021-12-26 16:16:10,2021-12-26 16:30:53,Halsted St & North Branch St,KA1504000117,LaSalle Dr & Huron St,KP1705001026,41.899390,-87.648545,41.894877,-87.632326,member
4,6FF54232576A3B73,electric_bike,2021-12-30 11:31:05,2021-12-30 11:51:21,Leavitt St & Chicago Ave,18058,Clark St & Drummond Pl,TA1307000142,41.895579,-87.682024,41.931248,-87.644336,member

In [31]:
df.isnull().sum()

ride_id                    0
rideable_type              0
started_at                 0
ended_at                   0
start_station_name    854844
start_station_id      854844
end_station_name      915082
end_station_id        915082
start_lat                  0
start_lng                  0
end_lat                 5874
end_lng                 5874
member_casual              0
dtype: int64